# archives
*.7z
*.zip

# logs
*.log

# model source
*.fbx
*.blockdef.xml
*.xml
*.hkt
*.hkt.fbx
*.hkt.mwm
*.txt
*.hkt.filter.log
*.hkt.convert.log
*.mwm.log

# temp
*.tmp	

.idea/
.vs/
.vs/DefenseShields/
.vs/DefenseShields/v15
*.lock
*.ide
*.ide-shm
*.ide-wal
*.sqlite
*.json
*.suo
*.cache
obj/
obj/Debug/
bin/
